* {
    box-sizing: border-box;
}
html,body,.wrapper,p,figure {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, Verdana, sans-serif;
}
.wrapper {
    width: 100%;
}
figure  {
    width: 100%;
}
figure img {
    width: 100%;
}
figcaption {
    width: 100%;
    height: 1.41333rem;
    padding: 0.3rem;
}
figcaption p:nth-child(1) {
    font-size: 0.28rem;
    display: block;
    word-wrap: break-word;
    color: rgb(51,51,51);
}
figcaption p:nth-child(1) span {
    float: right;
    color: rgb(255,87,34);
}
figcaption p:nth-child(2) {
    font-size: 0.24rem;
    display: block;
    word-wrap: break-word;
    color: rgb(151,151,151);
}